<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="./css/api.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->


    <style>
     #footer{
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
       height: 1.10rem;
       display: flex;
       align-items: center;
       border-top:0.02rem solid #f7f7f7;
       background-color: white;
     }
     #footer .li{
       flex:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
     }
     .li__icon{
       width: 0.34rem;
       height: 0.34rem;
     }
     .li__title{
       font-size: 0.24rem;
     }

    </style>
</head>

<body>
    <div id="app">
        <header class="header">
          <div class="title">
            {{tabbar.frames[tabIndex].title}}
          </div>
        </header>
        <footer id="footer">
                <div class="li" @click="app.randomSwitchBtn(index)" :style="{'color':tabIndex!=index?tabbar.color:tabbar.selectedColor}"
                    v-for="(item,index) in tabbar.list">
<img class="li__icon" :src="item.iconPath" v-if="tabIndex != index" />
<img class="li__icon" :src="item.selectedIconPath" v-else/>
                    <div class="li__title">
                      {{item.name}}
                    </div>
                  </div>

        </footer>
    </div>
</body>

</html>
<script src="./script/api.js" type="text/javascript"></script>
<script src="./script/vue.js" type="text/javascript"></script>
 <script src="./script/flexible.js"></script>
<script src="./script/fastclick.js"></script>
<script src="./tools/pushGeTui.js"></script>
<script type="text/javascript">

    const app = new Vue({
        el: '#app',
        data: {
            tabbar:{
              "scrollEnabled":false,
              "color":   "#000",
              "selectedColor":"#f00",
              "frames": [{
                "bounces":true,
                "title": "鲲美会",
                "name": "page1",
                "url": "./html/home/index.html"
              }, {
                "bounces":true,
                "title": "发现",
                "name": "page2",
                "url": "./html/find/index.html"
              }, {
                "bounces":true,
                "title": "会员",
                "name": "page3",
                "url": "./html/member/index.html"
              },
              {
                "bounces":true,
                "title": "购物车",
                "name": "page4",
                "url": "./html/shopCart/index.html"
              },
              {
                "bounces":true,
                "title": "我的",
                "name": "page5",
                "url": "./html/me/index.html"
              }
            ],
              "list": [{
                "name": "主页",
                "iconPath": "./image/home.png",
                "selectedIconPath": "./image/home_press.png"
              }, {
                "name": "发现",
                "iconPath": "./image/find.png",
                "selectedIconPath": "./image/find_press.png"
              }, {
                "name": "会员",
                "iconPath": "./image/member.png",
                "selectedIconPath": "./image/member_press.png"
              },
              {
                "name": "购物车",
                "iconPath": "./image/shopcar.png",
                "selectedIconPath": "./image/shopcar_press.png"
              },
              {
                "name": "我的",
                "iconPath": "./image/me.png",
                "selectedIconPath": "./image/me_press.png"
              }
            ]
            },
            tabIndex: 0
        },
        created(){


        },
        methods:{
          randomSwitchBtn(index){
            this.tabIndex = index
            api.setFrameGroupIndex({
                name: 'tabbar',
                index: index,
                scroll: false
            });
          }
        }
    });

    apiready = function () {
      $api.fixStatusBar($api.dom('header'));
      let headerHeight = $api.dom('header').offsetHeight
      let footerHeight = $api.dom('footer').offsetHeight

      //$api.setStorage('footerHeight',footerHeight);
         // 初始化推送服务
        //  initGetTui()
         let token = window.api.getPrefs({
             sync: true,
             key: 'token'
         })
        //  if(!token){
        //    api.openWin({
        //        name: 'login',
        //        url: './html/login/login.html',
        //        slidBackEnabled:false,
        //        animation:{
        //         type:"movein",                //动画类型（详见动画类型常量）
        //         subType:'from_bottom',       //动画子类型（详见动画子类型常量）
        //         duration:300                //动画过渡时间，默认300毫秒
        //      },
        //        pageParam: {
        //            name: 'test'
        //        }
        //    });
        //    return
        //  }
         api.openFrameGroup ({
             name: 'tabbar',
             background: '#fff',
             scrollEnabled: false,
             rect: {

                  x: 0,
                  y:headerHeight,
                  w: 'auto',
                  h: api.winHeight - footerHeight - headerHeight
             },
             index: 0,
             frames: app.tabbar.frames
         }, function(ret, err){
             if( ret ){
               api.setStatusBarStyle({
                   style: 'dark',
                   color: '#fff'
               });
                  //alert( JSON.stringify( ret ) );
             }else{
                  alert( JSON.stringify( err ) );
             }
         });

    };

</script>
